<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.companyname.NotepadGps" android:installLocation="auto" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
  <!-- Added for maps-->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
  <uses-permission android:name="android.permission.READ_CALENDAR" />
  <uses-permission android:name="android.permission.WRITE_CALENDAR" />
  <application android:label="NotepadGps.Android">
    <!-- Put your Google Maps V2 API Key here. -->
    <!-- Home -->
    <!-- <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyApdJg8Wg4pWWhJ2TZXJ3Ke_rf0d1OjdFw" /> -->
    <!-- Headworks -->
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAf7rljVibHW7F1neBavieHa9UZ5t3Co5s" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    <!-- Added for maps-->
    <uses-library android:name="org.apache.http.legacy" android:required="false" />
  </application>
</manifest>